html,
body {
    margin: 0;
    padding: 0;

    font-size: 13px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    color: black;
    line-height: 24px;

    min-width: 960px;
}

img {
     max-width: 100%;
     height: auto;
}

/* Start Common */

.btn {
    display: inline-block;
    margin-right: 14px;
    padding: 10px 33px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    
    background-color: #ee3643;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.btn-close {
    position: absolute;
    
    padding: 0;
    margin: 0;

    top: 9px;
    right: 9px;

    width: 22px;
    height: 22px;

    font-size: 0;

    border: 0;
    cursor: pointer;
    background: transparent;
}

.btn-close::before,
.btn-close::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -2px;

    width: 25px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 1px;
}

.btn-close::before {
    transform: rotate(45deg);
}

.btn-close::after {
    transform: rotate(-45deg);
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.top-header {
    background-color: #293449;
    color: white;
}

.top-header-layout {
    display: flex;
    color: white;
}

.btn-logo {
    position: relative;

    margin-right: 0;
    padding: 9px 55px;
    padding-top: 10px;
    padding-bottom: 8px;

    font-size: 24px;
    line-height: 24px; 
    font-weight: 400;
    text-align: center;
    color: white;
}

.btn-logo::after {
    position: absolute;
    display: block;
    content: "";

    left: 0px;
    bottom: -5px;

    width: 100%;
    height: 5px;
    
    background: #b52933;
}

.index-page .btn-logo {
    cursor: default;
}

.search-form {
    flex-basis: 270px;
    position: relative;
}

.search-form__input + label::before {
    content: "";
    position: absolute;

    top: 12px;
    left: 16px;

    width: 17px;
    height: 17px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -248px -131px;

    opacity: 0.3;
}

.search-form__input:hover + label::before {
    opacity: 1;
}

.search-form__input:focus + label::before {
    background-position: -275px -131px;
    opacity: 1;    
}

.search-form__input {
    padding: 12px 10px;
    padding-left: 49px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;

    color: white;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background: #293449;
}

.search-form__input:hover {
    background: #212a3a;
    color: white;
}

.search-form__input:focus {
    background: white;
    color: black;
}

.search-form__input:hover::before {
    opacity: 1;
}

.order-block {
    display: flex;
    text-align: center;
}

.order-block__cart,
.order-block__bookmark,
.order-block__checkout {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;

    position: relative;
    width: 150px;
    padding: 12px 0px;
    box-sizing: border-box;

    vertical-align: top;

    text-decoration: none;
    color:white;
}

.order-block__bookmark {
    padding-left: 45px;
    text-align: left;    
}

.order-block__cart {
    padding-left: 49px;
    text-align: left;    
}

.order-block__cart.not-empty,
.order-block__bookmark.not-empty {
    background: #ee3643;
}

.order-block__cart.not-empty:hover,
.order-block__bookmark.not-empty:hover {
    background: #ca2c37;
}

.order-block__cart.not-empty:active,
.order-block__bookmark.not-empty:active {
    background: #ba2732;
}

.order-block__cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 16px;

    width: 17px;
    height: 16px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -5px -5px;

    opacity: 0.3;
}

.order-block__bookmark::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;

    width: 14px;
    height: 16px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -32px -5px;

    opacity: 0.3;
}

.order-block__cart:hover::before,
.order-block__bookmark:hover::before{
    opacity: 1;
}

.order-block__cart:active::before,
.order-block__bookmark:active::before{
    opacity: 0.3;
}

.order-block__cart:hover,
.order-block__bookmark:hover {
    background: #212a3a;
}

.order-block__cart:active,
.order-block__bookmark:active {
    background: #161d29;
}

.order-block__checkout {
    background: #63a63e;
}

.order-block__checkout:hover {
    background: #5fbb2d;
}

.order-block__checkout:active {
    background: #518534;
}

.additional-header {
    background-color: #f1f5f7;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.midle-header-layout {
    padding-top: 46px;
    padding-bottom: 41px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.mart-description {
    margin: 0px;
    padding: 3px 51px;
    vertical-align: top;

    flex-basis: 300px;

    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;

    box-sizing: border-box;
    color: #ee3643;
}

.contact-information {
    flex-basis: 300px;
}

.contact-information__telephone {
    position: relative;
    padding: 9px 10px;
    padding-left: 70px;
    
    display: inline-block;
    width: 270px;

    vertical-align: top;
    font-size: 21px;
    line-height: 21px;
    font-family: "Cuprum", sans-serif;
    color: #e9292a;
    text-decoration: none;

    border: 3px solid white;
    box-sizing: border-box;
}

.contact-information__telephone::before {
    content: "";
    position: absolute;

    top: 10px;
    left: 12px;

    width: 19px;
    height: 19px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -266px -81px;
}

.contact-information__address {
    margin: 0px;
    padding: 4px 0px;
    padding-left: 10px;

    font-size: 14px;
    line-height: 24px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    color: #32425c;
}

.user-block {
    flex-basis: 300px;
}

.user-block__registered-user {
    /*display: none;*/
    display: inline-block;
}

.user-block__unregistered-user {
    display: none;
    /*display: inline-block;*/
}

.user-block__profile {
    position: relative;
    float: left;
    padding: 12px 0px 12px 47px;
    margin-bottom: 5px;

    width: 255px;
    max-height: 45px;

    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: black;
    background: white;
    text-decoration: none;

    box-sizing: border-box;
}

.user-block__profile:active {
    color: #c0c5cd;
}

.user-block__profile::before {
    position: absolute;
    content: "";

    left: 13px;
    top: 13px;

    width: 20px;
    height: 18px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -302px -143px;

    opacity: 0.3;
}

.user-block__profile:hover::before {
    opacity: 1;
}

.user-block__profile:active::before {
    opacity: 0.3;
}

.user-block__logout {
    float: right;
    position: relative;

    width: 45px;
    height: 45px;
    font-size: 0px;
    color: black;
    background: white;
}

.user-block__logout::before {
    position: absolute;
    content: "";

    left: 2px;

    width: 45px;
    height: 45px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -208px -175px;
    opacity: 0.3;
}

.user-block__logout:hover::before {
    opacity: 1;    
}

.user-block__logout:active::before {
    opacity: 0.3;    
}

.user-block__action {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-block__action li {
    display: inline-block;
}

.user-block__action a {
    padding: 15px;
    padding-left: 16px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #32425c;
}

.user-block__action a:hover {
    color: #ee3643;
}

.user-block__action a:active {
    color: #32425c;
    opacity: 0.3;
}

.user-block__action-item {
    position: relative;
}

.user-block__action-item:not(:first-child)::before {
    position: absolute;
    content: "";

    top: 8px;
    left: -2px;

    display: block;
    width: 5px;
    height: 5px;
    background: #32425c;
    border-radius: 5px;
}

.signin-btn,
.signup-btn {
    position: relative;

    margin: 0;

    background: white;
    color: black;
    text-transform: none;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    font-family: "Cuprum", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.signin-btn {
    margin-left: 19px;
    padding: 12px 25px;
    padding-left: 47px;
    float: left;
}

.signup-btn {
    margin-left: 10px;
    padding: 12px 24px;

    float: right;
}

.signin-btn::before {
    content: "";
    position: absolute;

    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -178px -175px;

    opacity: 0.3;
}

.signin-btn:hover::before {
    opacity: 1;
}

.signin-btn:active::before {
    opacity: 0.3;
}

.signin-btn:hover,
.signup-btn:hover {
    color: #ee3643;
}

.signin-btn:active,
.signup-btn:active {
    color: #cacaca;
}

.main-navigation {
    padding: 0px;

    color:white;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.main-navigation-layout {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-navigation__item a {
    display: inline-block;
    padding: 21px 31px;
    padding-bottom: 17px;
    /*padding-left: */

    vertical-align: top;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;

    text-decoration: none;
    color:white;
}

.main-navigation__item:hover {
    background: #293449;
}

/* End Common */

/* Start Index */
.product-group {
    margin-top: 59px;
    margin-bottom: 54px;
}

.product-group__item {
    width: 300px;
    position: relative;
}

.product-group__item b{
    display: block;

    margin-top: 21px;
    margin-left: 21px;

    font-weight: 700;
    color: white;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;

    width: 160px;
}

.product-group__item-button {
    position: relative;
    display: inline-block;

    margin-top: 12px;
    margin-left: 24px;
    margin-bottom: 22px;
    text-align: center;

    width: 135px;
}

.product-group__item-button-text {
    position: relative;
    display: inline-block;

    padding: 11px;
    padding-bottom: 9px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    vertical-align: top;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    
    border: none;
    cursor: pointer;

    z-index: 2;
}

.product-group__item-button::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 3px;
    background: black;
    opacity: 0.1;

    z-index: 1;
}

.product-group__item-button:hover::before {
    opacity: 0.2;
}

.product-group__item-button:active::before {
    opacity: 0.3;
}

.product-group__item-material {
    float: left;
    background-color: #f6b22d;
    margin-right: 20px;
}

.product-group__item-material::before {
    content: "";
    position: absolute;

    width: 44px;
    height: 65px;

    right: 43px;
    top: 32px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -93px -75px;
}

.product-group__item-tool {
    float: left;
    background-color: #4aafde;
}

.product-group__item-tool::before {
    content: "";
    position: absolute;

    width: 75px;
    height: 61px;

    right: 28px;
    top: 34px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -93px -157px;
}

.product-group__item-technique {
    float: right;
    background-color: #cc79d1;
}

.product-group__item-technique::before {
    content: "";
    position: absolute;

    width: 78px;
    height: 62px;

    right: 32px;
    top: 32px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -5px -157px;
}

.product-group__item-sales {
    float: right;
    background-color: #85d179;
    margin-top: 20px;
}

.product-group__item-sales::before {
    content: "";
    position: absolute;

    width: 59px;
    height: 72px;

    right: 44px;
    top: 26px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -147px -75px;
}

.product-group__item-delivery {
    float: right;
    background-color: #f6b22d;
    margin-top: 20px;
}

.product-group__item-delivery::before {
    content: "";
    position: absolute;

    width: 78px;
    height: 63px;

    right: 32px;
    top: 32px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -5px -75px;
}

.slider {
    float: left;
    position: relative;
    
    margin-top: 20px;
    color: white;
    background: darkgray;

    width: 620px;
    height: 266px;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.slider__controls {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider__controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background: white;
    border: 2px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider__toogle-1:checked ~ .slider__controls label[for="slider__toogle-1"],
.slider__toogle-2:checked ~ .slider__controls label[for="slider__toogle-2"] {
    background: #ee3643;
}

.slider__content-slide {
    display: none;
}

.slider__toogle-1:checked ~ .slider__content .slider__content-slide:nth-child(1) {
    display: block;
}

.slider__toogle-2:checked ~ .slider__content .slider__content-slide:nth-child(2) {
    display: block;
}

.slider__content-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__content {
    margin: 0;
    padding: 0;
}

.slider__title {
    position: absolute;
    left: 20px;
    top: 20px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
}

.slider__description {
    position: absolute;

    width: 320px;
    left: 20px;
    top: 60px;

    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;

    color: white;
}

.slider__prev-btn {
    position: absolute;

    left: 20px;
    top: 114px;
    width: 22px;
    height: 40px;

    font-size: 0px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -216px -125px;

    border: 0px;
    z-index: 1000;

    cursor: pointer;
}

.slider__next-btn {
    position: absolute;
    right: 20px;
    top: 114px;
    width: 22px;
    height: 40px;

    font-size: 0px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -295px -81px;

    border: 0px;
    z-index: 1000;

    cursor: pointer;
}

.slider__btn {
    position: absolute;
    left: 20px;
    bottom: 20px;

    border-radius: 3px;
}

.popular-header {
    height: 89px;
    background-color: #f7f3ec;
    display: flex;
    margin-bottom: 20px;
}

.popular-header-title {
    margin-left: 27px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;

    color: #32425c;
}

.popular-header-btn {
    text-align: center;
    margin: 26px 24px 25px auto;

    border-radius: 3px;
    width: 253px;
    box-sizing: border-box;
}

.popular-products {
    margin-bottom: 1px;
}

.popular-products__items {
    display: flex;
    justify-content: space-between;
}

.popular-vendors {
    margin-bottom: 62px;
}

.popular-vendors__header-title {
    margin-left: 25px;
}

.popual-vendors__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vendor-item {
    display: flex;
    width: 220px;
    height: 145px;

    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;    
}

.vendor-item:hover {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}

.vendor-item:active {
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.3);
}

.service-block-layout {
    background-color: #f2f6f8;
    margin-bottom: 45px;
}

.service-about__title {
    padding-top: 60px;
    margin-bottom: 21px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

.service-about__description {
    font-family: inherit;

    margin-bottom: 63px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.service-block {
    display: flex;
    position: relative;
}

.service-block__choise {
    position: relative;
    margin: 0;
    padding: 0;

    margin-top: 5px;
    margin-right: 80px;
    padding-bottom: 110px;

    width: 240px;

    border: 0px;
}

.service-block__choise::after {
    position: absolute;
    content: "";
    
    top: -35px;
    right: 0;
    width: 10px;
    height: 272px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -347px -5px;
}

.service-block input[type="radio"] {
    position:absolute;
    opacity:0;
}

.service-block__choise label {
    display: block;
    padding: 13px 10px 15px 22px;
    width: 240px;

    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 31px;

    color: white;
    background: #32425b;

    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;

    box-sizing: border-box;
    cursor: pointer;
}

.service-block__choise label:hover {
    background: #293449;
} 

.service-block__content {
    flex-grow: 1;
    overflow: hidden;
}

.service-block__field-deliver:checked ~ .service-block__choise .service-block__label-deliver,
.service-block__field-guarantee:checked ~ .service-block__choise .service-block__label-guarantee,
.service-block__field-credit:checked ~ .service-block__choise .service-block__label-credit {
    background: white;
    color: #32425c;
    border: 1px solid white;
}

.service-block__field-deliver:checked ~ .service-block__content .service-block__delivery,
.service-block__field-guarantee:checked ~ .service-block__content .service-block__guarantee,
.service-block__field-credit:checked ~ .service-block__content .service-block__credit {
    display: block;
}

.service-block__content-item {
    display: none;
    position: relative;

    margin: 0;
    padding: 0;
}

.service-block__content-item::after {
    position: absolute;
    content: "";

    top: 28px;
    right: 0;
}

.service-block__delivery::after {
    width: 468px;
    height: 261px;

    background: transparent url("../img/service-delivery.png") no-repeat;
}

.service-block__guarantee::after {
    width: 389px;
    height: 283px;

    background: transparent url("../img/service-guarantee.png") no-repeat;
}

.service-block__credit::after {
    width: 465px;
    height: 285px;

    background: transparent url("../img/service-credit.png") no-repeat;
}

.service-block__title {
    margin-bottom: 20px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.service-block__description {
    margin: 0;
    padding: 0;
}

.service-block__credit a {
    display: block;
    margin-top: 25px;
    width: 195px;
    border-radius: 3px;
    box-sizing: border-box;
}

.index-content {
    display: flex;
    margin-bottom: 25px;
}

.index-content__about-title,
.index-content__contacts-title {
    margin-bottom: 26px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

.index-content__about {
    width: 540px;
}

.index-content__about p,
.index-content__contacts p {
    margin-top: 25px;
    font-family: inherit;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.index-content__transport-company {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.index-content__transport-company li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.index-content__transport-company li::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 25px;
    border-bottom: 2px solid #fb565a;
    top: -5px;
    margin-right: 10px;
}

.index-content__contacts {
    width: 300px;
    margin-left: auto;
}

.contacts__our-location {
    margin: 20px 0;
    margin-bottom: 15px;
}

.contacts__btn {
    width: 100%;
    box-sizing: border-box;
}

.about-company-btn,
.contacts__btn {
    margin: 17px 0 60px 0;
    padding: 10px 40px;

    border-radius: 3px;
}

/* End Index */

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    
    margin: 22px 0 15px 0px;
    padding: 0px;

    list-style: none;
}

.breadcrumbs__item {
    position: relative;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.breadcrumbs__item:last-child {
    padding-left: 22px;
}

.breadcrumbs__item a {
    text-decoration: unset;
    padding: 10px 21px;
    color: black;
}

.breadcrumbs__item:first-child a {
    font-size: 0;
    padding-left: 6px;
}

.breadcrumbs__item:first-child a:before {
    position: absolute;
    content: "";

    top: 2px;
    left: 0;

    width: 15px;
    height: 12px;

    background: transparent url(../img/sprite.png);
    background-position: -246px -5px;
}

.breadcrumbs__item:not(:first-child)::before {
    position: absolute;
    display: block;
    content: "";

    top: 2px;
    left: 0px;
    width: 8px;
    height: 12px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -327px -81px;
}

.catalog__title {
    background-color: #f2f6f8;

    margin: 0px;
    padding: 30px 28px;
    margin-bottom: 20px;

    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.catalog__content {
    display: flex;
    justify-content: space-between;
}

.catalog__filter {
    flex-basis: 220px;
}

.catalog__filter-title {
    display: block;
    padding: 10px 10px 10px 19px;

    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    color: black;
    background: #f7f3ec;
}

.catalog__filter fieldset {
    width: 220px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;

    border: 0px;
    border-bottom: 1px solid #e5e5e5;
}

.catalog__filter .catalog__filter-price {
    padding-bottom: 25px;
}


.catalog__filter .catalog__filter-energy-source {
    border: 0px;
}

.catalog__filter legend {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    margin: 10px 0;
    margin-bottom: 0px;
}

.catalog__filter-energy-source legend {
    margin-top: 14px;
}

.range-controls {
    position: relative;

    height: 80px;
    margin-top: 15px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 30px;

    background: #f7f3ec;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    box-sizing: border-box;
}

.range-controls__scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls__bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.range-controls__toggle {
    position: absolute;

    top: 30px;
    left: 0px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid white;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #d4d1cb;
}

.range-controls__toggle.toggle-min {
    left: 20px;
}

.range-controls__toggle.toggle-max {
    left: 160px;
}

.price-controls {
    position: relative;
}

.price-controls input{    
    width: 75px;
    padding: 10px;

    font-family: inherit;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;

    text-align: center;

    border: 0px;
    border-radius: 3px;
    background: #f7f3ec;
}

.price-controls__min {
    float: left;
}

.price-controls__max {
    float: right;
}

.price-controls::before {
    position: absolute;
    
    display: block;
    content: "";
    height: 1px;
    width: 13px;

    top: 19px;
    left: 104px;
    background: black;
}


.catalog__filter-vendors legend {
    margin-top: 14px;
    margin-bottom: 0px;
}

.catalog__filter-vendors p,
.catalog__filter-energy-source p {
    margin: 16px 0;
    padding: 0;
}

.catalog__filter-vendors p:last-child,
.catalog__filter-energy-source p:last-child {
    margin: 0;
    padding: 0;
}

.catalog__filter-vendors input[type="checkbox"],
.catalog__filter-energy-source input[type="radio"] {
    display: none;
}

.catalog__filter-vendors label,
.catalog__filter-energy-source label {
    position: relative;
    padding-left: 34px;

    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    text-transform: uppercase;

    color: black;
    cursor: pointer;
}

.catalog__filter-energy-source input[type="radio"]:checked + label {
    cursor: default;
}

.catalog__filter-vendors label::before,
.catalog__filter-energy-source label::before {
    content: '';
    position: absolute;

    top: -2px;
    left: 0px;

    background: transparent url("../img/sprite.png") no-repeat;

    opacity: 0.8;
}

.catalog__filter-vendors input[type="checkbox"]:not(:checked) + label::before {
    width: 23px;
    height: 23px;
    background-position: -56px -5px;
}

.catalog__filter-vendors input[type="checkbox"]:checked + label::before {
    width: 27px;
    height: 23px;
    background-position: -89px -5px;
}

.catalog__filter-energy-source input[type="radio"]:not(:checked) + label::before {
    top: -4px;

    width: 25px;
    height: 25px;
    background-position: -126px -5px;
}

.catalog__filter-energy-source input[type="radio"]:checked + label::before {
    top: -4px;
    
    width: 25px;
    height: 25px;
    background-position: -161px -5px;
}

.catalog__filter-vendors input[type="checkbox"]:disabled + label,
.catalog__filter-energy-source input[type="radio"]:disabled + label {
    opacity: 0.3;
    cursor: default;
}

.catalog__filter-vendors input[type="checkbox"]:not(:disabled) + label:hover::before,
.catalog__filter-energy-source input[type="radio"]:not(:disabled) + label:hover::before  {
    opacity: 1;
}

.catalog__filter input[type="submit"] {
    margin-top: 52px;
    padding: 9px 38px;

    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

    cursor: pointer;
}

.catalog__filter input[type="submit"]:hover {
    color:black;
    border: 1px solid #bdc6ca;
}

.catalog__filter input[type="submit"]:active {
    color:black;
    border: 1px solid #ee3643;
}


.product-items__sorting-form {
    margin-bottom: 20px;

    padding: 10px 10px 10px 15px;

    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    color: black;
    background: #f7f3ec;
}

.sorting-form__tittle {
    font-weight: 400;
}

.product-items__sorting-form fieldset {
    display: inline-block;

    margin: 0px;
    padding: 0px;

    border: 0px;
}

.product-items__sorting-form input[type="radio"] {
    display: none;
}

.product-items__sorting-form input[type="radio"]:not(:checked) + label {
    cursor: pointer;
}

.sorting-form__kind input[type="radio"]:checked + label {
    color: #ee3643;
}

.sorting-form__kind input[type="radio"]:not(:checked) + label:hover  {
    color: black;
    border-bottom: 1px solid #ee3643;
}

.sorting-form__kind input[type="radio"]:not(:checked) + label {
    color: #c4c1bb;
    border-bottom: 1px dotted #ee3643;
}

.sorting-form__tittle {
    float: left;
    margin-left: 3px;
    width: 187px;
}

.sorting-form__kind {
    float: left;
    width: 420px;
    text-align: right;

    box-sizing: border-box;
}

.sorting-form__kind label {
    margin: 10px 32px;
}

.sorting-form__order {
    float: right;
    font-size: 0px;
    width: 60px;
    text-align: right;
}

.sorting-form__order label {
    position: relative;
    display: inline-block;
    content: "";

    width: 30px;
    height: 18px;
}

.sorting-form__order-desc::before,
.sorting-form__order-asc::before {
    position: absolute;
    content: "";

    top: 4px;
    left: 10px;
    width: 11px;
    height: 10px;

    background: transparent url("../img/sprite.png") no-repeat;
}

.sorting-form__order-desc::before {
    background-position: -327px -103px;
    
}

.sorting-form__order-asc::before {
    background-position: -196px -5px;
}

input[type="radio"]:not(:checked) + .sorting-form__order-desc::before {
    background-position: -327px -123px;
    opacity: 0.3;
}

input[type="radio"]:not(:checked) + .sorting-form__order-asc::before {
    background-position: -217px -5px;
    opacity: 0.3;
}

input[type="radio"]:not(:checked) + .sorting-form__order-desc:hover::before {
    background-position: -327px -123px;
    opacity: 1;
}

input[type="radio"]:not(:checked) + .sorting-form__order-asc:hover::before {
    background-position: -217px -5px;
    opacity: 1;
}

.product-items__content {
    width: 700px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 34px;
}

.product-item {
    position: relative;
    width: 220px;
    height: 317px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    z-index: 1;
}

.catalog__content .product-item {
    margin-right: 20px;
} 

.catalog__content .product-item:nth-child(3n) {
    margin-right: 0px;
}

.product-item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}

.product-item__actions {
    position: absolute;
    padding: 42px 0;

    top: 0;
    left: 0;
    width: 218px;
    height: 88px;

    background-color: rgba(255, 255, 255, 0.9);

    z-index: 5;
}

.product-item .product-item__actions {
    display: none;
}
.product-item:hover .product-item__actions {
    display: block;
}

.product-item__buy,
.product-item__bookmark {
    display: block;

    width: 129px;
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 7px 0;
    padding-top: 8px;
    padding-bottom: 5px;

    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: "Cuprum", "Arial", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;

    border: 3px solid #63a63e;
    background-color: #63a63e;
    border-radius: 3px;
}

.product-item__buy {
    position: relative;

    padding-top: 8px;
    padding-bottom: 3px;
    box-shadow: 0px 4px 0px 0px rgba(54,115,21,1);
}

.product-item__buy:hover {
    border-color: #5fbb2d;
    background: #5fbb2d;
}

.product-item__buy:active {
    border-color: #518534;
    background: #518534;
    box-shadow: 0px 4px 0px 0px rgba(81,133,52,1);
}

.product-item__buy::before {
    position: absolute;

    content: "";

    top: 9px;
    left: 10px;

    width: 17px;
    height: 16px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -5px -5px;

    opacity: 0.3;
}

.product-item__buy:hover::before,
.product-item__buy:active::before  {
    opacity: 1;
}

.product-item__bookmark {
    color: #32425c;
    background: white;
    border-color: #63a63e;
}

.product-item__bookmark:hover {
    border-color: #32425c;
}

.product-item__bookmark:active {
    opacity: 0.3;
}

.flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 10;
}

.flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.product-item__name {
    margin: 0px;
    margin-top: 15px;

    display: block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    color: black;
}

.product-item__model {
    display: block;

    font-family: inherit;
    text-align: top;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: black;
}

.product-item__prepare-price {
    display: block;

    margin-top: 11px;
    
    font-family: inherit;
    text-align: top;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;

    min-height: 18px;
}

.product-item__price {
    position: relative;
    display: inline-block;

    margin: 10px 41px;
    padding: 10px;

    font-family: inherit;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    background: #ee3643;
    color: white;

    width: 140px;

    border-radius: 3px;
    box-sizing: border-box;
}

.product-item__price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.products-item__navigation-layout {
    display: flex;

    height: 38px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.products-item__navigation-item {
    list-style: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    margin-right: 10px;
}

.products-item__navigation-item:hover {
    border: 1px solid #bdc6ca;
}

.products-item__navigation-item:active {
    border: 1px solid #ee3643;
}

.products-item__navigation-item a {
    display: block;
    text-decoration: unset;
    text-transform: uppercase;
    color: black;

    padding: 10px 14px;
}

.products-item__navigation-item.active,
.products-item__navigation-item.active a{
    background: #ee3643;
    border-color: #ee3643;
    color: white;
}

.products-item__navigation-item:last-child a {
    padding: 10px 34px;
}

.catalog__desctiption-layout {
    background-color: #f1f5f7;
    padding: 0px;
    padding-top: 36px;
    padding-bottom: 26px;
}

.category__description dt {
    padding-top: 30px;
    padding-bottom: 27px;

    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;

    text-transform: uppercase;
}

.category__description dd {
    padding-bottom: 40px;
    margin: 0px;

    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.additional-footer {
    margin: 0;
    padding: 0;
    padding-bottom: 48px;

    background-color: #32425c;
    color: white;
    box-sizing: border-box;
}

.additional-footer_top-menu {
    height: 68px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.additional-footer_top-menu .btn-logo{
    padding: 18px 10px 10px 10px;

    height: 63px;
    width: 220px;

    font-size: 30px;
    line-height: 30px;

    box-sizing: border-box;
}

.second-navigation {
    width: 590px;
}

.second-navigation-layout {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    margin-top: 27px;
    padding: 0px;
}

.second-navigation__item a {
    display: inline-block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 10px;
    padding-right: 0px;
    padding-left: 40px;

    color: white;
    text-decoration: none;
}

.second-navigation__item a:hover {
    text-decoration: underline;
}

.second-navigation__item a:active {
    opacity: 0.5;
    text-decoration: none;
}

.additional-footer__bottom-menu {
    display: flex;
    justify-content: space-between;
}

.additional-footer__bottom-menu .contact-information {
    flex-basis: 330px;
}

.additional-footer__bottom-menu .contact-information__address {
    margin: 0;
    padding: 1px 2px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    color: white;
}

.additional-footer__bottom-menu .contact-information__telephone  {
    margin: 0;
    padding: 0px 2px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;

    border: 0px;

    color: white;
}

.additional-footer__bottom-menu .contact-information__telephone::before {
    display: none;
} 

.product-group-list {
    flex-basis: 525px;
}

.product-group-list-layout {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.product-group-list__item a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    color: #ffd180;
    text-decoration: none;
}

.product-group-list__item a:hover {
    text-decoration: underline;
}

.product-group-list__item a:active {
    opacity: 0.5;
    text-decoration: none;
}

.main-footer {
    margin: 0;
    padding: 0;

    background-color: #293449;
    color: white;
}

.main-footer-layout {
    padding-top: 21px;
}

.footer-company {
    float: left;
    width: 300px;
}

.footer-company p {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;

    color: white;
}

.footer-social {
    float: left;
    flex-basis: 155px;
    margin-left: 50px;
}

.footer-social-layout {
    width: 130px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.social-btn {
    display: inline-block;
    font-size: 0;
    width: 40px;
    height: 40px;
    background: #212a3a url("../img/sprite.png") no-repeat center;
    border-radius: 40px;
}

.social-btn:hover,
.social-btn:active {
    background: #ee3643 url("../img/sprite.png") no-repeat center;
}

.social-btn-vk,
.social-btn-vk:hover,
.social-btn-vk:active  {
    background-position: -263px -171px;
}

.social-btn-fb,
.social-btn-fb:hover,
.social-btn-fb:active  {
    background-position: -196px -25px;
}

.social-btn-inst,
.social-btn-inst:hover,
.social-btn-inst:active  {
    background-position: -216px -75px;
}

.footer-feedback {
    float: left;
    flex-basis: 140px;
    margin-left: 120px;
}

.footer-feedback p,
.footer-feedback a  {
    margin: 0;
    padding: 0;
    margin-top: 18px;


    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;

    color: white;
}

.footer-feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer-feedback a:hover {
    text-decoration: underline;
}

.footer-feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-copyright {
    float: right;
    flex-basis: 140px;
    margin-right: 15px;
}

.footer-copyright p,
.footer-copyright a {
    margin: 0;
    margin-top: 18px;
    padding: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;

    color: white;
}

.footer-copyright a {
    color: #ffd180;
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-copyright a:active {
    color: #ee3643;
    text-decoration: none;
}

/* Всплывающие окна */
.modal_overlay {
    position: fixed;
    width: 100%;
    opacity: 0.5;
    top: 0px;
    margin: 0px;
    min-height: 200px;
    height: 100%;
    background-color: #000;

    z-index: 500;
}

.modal-view {
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: black;
    background: white;

    z-index: 1000;

    box-shadow: 0px 20px 45px 5px rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

/* Карта */
.modal-map {
    width: 940px;
    height: 446px;

    background: white;
    color: black;
}

.modal-map::before {
    position: absolute;
    content: "";

    left: 0px;
    right: 0px;

    width: 940px;
    height: 446px;

    background: transparent url("../img/map-large.jpg") no-repeat;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

 /* Напишите нам */
.modal-write-us {
    width: 620px;
    border-top: 7px solid #ee3643;
}

.modal-write-us::after {
    position: absolute;
    content: "";
    
    left: 0;
    bottom: 0;

    width: 100%;
    height: 112px;

    background: #f1f1f1;

    z-index: -1;
}

.write-us-form {
    display: block;
    margin: 45px auto 37px auto;
    width: 460px;
}

.write-us-form label {
    font-family: "Cuprum", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: black;
}

.write-us-form input {
    margin-top: 10px;
    padding: 7px;

    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    border: 1px solid #d7dcde;
    border-radius: 3px;

    box-sizing: border-box;
}

.write-us__user-information {
    display: flex;
    justify-content: space-between;
}

.write-us__user-information label {
    flex-basis: 220px;
}

.write-us__user-information input {
    display: block;
    width: 100%;
}

.write-us__message textarea {
    display: block;
    
    padding: 10px;
    margin-bottom: 74px;

    min-width: 100%;
    max-width: 100%;

    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    border: 1px solid #d7dcde;
    border-radius: 3px;

    box-sizing: border-box;
}

.write-us__submit {
    margin: 0px;

    width: 100%;
    box-sizing: border-box;
}

/* Добавлено в корзину */
.modal-added-product {
    width: 620px;
    border-top: 7px solid #ee3643;
}

.model-added-product__message {
    position: relative;

    padding-left: 60px;
    margin-top: 56px;
    margin-bottom: 56px; 

    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;

    text-align: center;

    color: black;
}

.model-added-product__message::before {
    position: absolute;
    content: "";

    top: -5px;
    left: 70px;

    width: 66px;
    height: 66px;

    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -271px -5px;
}

.model-added-product__action-layout {
    display: flex;
    justify-content: center;
    background: #f1f1f1;
    padding: 37px;
}

.model-added-product__order {
    padding: 10px 61px;
    
    border-radius: 3px;
}

.model-added-product__continue {
    padding: 10px 46px;
    
    color: black;
    background: white;

    border-radius: 3px;
}

.model-added-product__continue:hover {
    color: #ee3643;
    background: white;
}

.model-added-product__continue:active {
    opacity: 0.7;
}